@import "tailwindcss";

:root 
  /* Color Palette */
  /* --color-white: #FFFFFF;
  --color-red: #D32F2F;
  --color-gray-soft: #F5F5F5;
  --color-gray-dark: #424242;
  --color-light-red: #FFCDD2;
  --color-charcoal: #212121; */


/* Color-list : 
1. #232F3F,
2. #F80000,
3. #BA0001, second shade of red
4. #F5F5F5,
5. #FFFFFF, */


h1,h2,h3,h4{
  font-family: poppins;
}
h5,h6,p{
  font-family:  mulish;
}
button{
  cursor: pointer;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.animate-shimmer {
  background: linear-gradient(to right, #e5e7eb 8%, #f3f4f6 18%, #e5e7eb 33%);
  background-size: 800px 104px;
  animation: shimmer 1.5s infinite linear;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink-animation {
  animation: blink 2s linear infinite;
}